.topbar {
    width: 100%;
    height: 70px;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    flex-direction: row;
}
.topbar .wrapper {
    padding: 0px 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar .wrapper .left {
    display: flex;
    align-items: center;
}
.topbar .wrapper .left .logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    margin-right: 40px;
}
.topbar .wrapper .left .itemContainer {
    display: flex;
    align-items: center;
}
.topbar .wrapper .left .itemContainer .icon {
    font-size: 18px;
    margin-right: 5px;
    height: 200px;
    margin-top: 100%;
}
.topbar .wrapper .left .itemContainer span {
    font-size: 15px;
    font-weight: 500;
}

.topbar .wrapper .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.topbar .wrapper .right button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.topbar a {
    color: white;
    text-decoration: none;
    margin: 40px;
  }

  @media only screen and (max-width: 650px) {
    .topbar {
        width: 100%;
        margin-top: 10px;
        overflow-x: hidden;
    }

    .topbar .wrapper {
        width: 90%;
        align-items: center;
        justify-content: center;
        display: grid;
        height: auto;
    }

    .topbar .wrapper .left {
        display: none;
    }

    .topbar .wrapper .right {
        align-items: center;
        justify-content: center;
        display:table;
        padding-top: 20px;
    }
  }




