.home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Calibri", sans-serif;
    font-weight: lighter;
  }
  
  .imageContainer {
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    background-position: 80% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .secondPart {
    padding: 2%;
    width: 96%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .phaseContainer {
    width:50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .phaseContainer p {
    font-size: 35px;
    font-family: "Calibri", sans-serif;
    font-weight: lighter;
    font-style: italic;
  }
  

  .secondPart button{
    width: 250px;
    height: 50px;
    background-color: #928763;
    color: white;
  }
  .secondPart button span{
    font-size: 12px;
  }

  .secondPart button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  
  .headerContainer {
    width: auto;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerContainer h1 {
    font-size: 60px;
    height: 60px;
    font-family: "Calibri", sans-serif;
    font-weight: lighter;
    font-weight: 50;
    color: white;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 20px;
    font-family: "Calibri", sans-serif;
    font-weight: lighter;
    color: white;
  }
  
  .headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
    }
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 30px;
      height: 30px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 10px;
      color: white;
    }
  
    .secondPart .phaseContainer p {
      font-size: 20px;
    }

    .secondPart .phaseContainer span {
      font-size: 10px;
      margin-bottom: 10px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
    
  }
  